// mixin for media queries
@mixin mQ($arg){                        
  @media screen and (max-width: $arg){
    @content                              
  }
};

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border($color) {
  border: 1px solid $color;
}

@mixin background {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
